* {
    font-family: sans-serif;
}

table {
    margin-top: 1rem;
    white-space: pre;
    font-size: 1.2rem;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 0 1rem;
}

.room-header {
    padding-top: 1rem;
}

.mii {
    height: 2rem;
    width: auto;
}

.mii-name {
    font-family: 'CTMKF', sans-serif;
}

#loading {
    font-weight: bold;
    font-size: 2rem;
}

#top-container {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
}

.top-stat {
    font-weight: normal;
}