* {
    font-family: sans-serif;
}

table {
    margin-top: 1rem;
    white-space: pre;
    font-size: 1.2rem;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 0 1rem;
}

.room-header {
    padding-top: 1rem;
    border-right: hidden;
    border-left: hidden;
}

.mii {
    height: 2rem;
    width: auto;
}

.mii-name {
    font-family: 'CTMKF', sans-serif;
}

#loading {
    font-weight: bold;
    font-size: 2rem;
}

#top-container {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.top-stat {
    font-weight: normal;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#home-link {
    color: black;
}

.room-link {
    color: black;
}

@media (max-width: 720px) {
    body {
        font-size: 0.8rem;
    }

    #top-container {
        font-size: 0.8rem;
    }

    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 0 0.5rem;
    }

    .mii {
        height: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}